@charset "utf-8";
@import url('fontello.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
/* @import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css'); */
@import url('normalize.css');
@import url('reset.css');

/* 숨긴 콘텐츠  */
.readable-hidden, legend{
  background-color:red;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}

/* 기본스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  background-color: #aaa;
  /* background : color img repeat position */
  /* url(bg-f.png) no-repeat 50% 0, #aaa, linear-gradient(?) */
  /* background-image: url('images/bg_flower.png'),
    linear-gradient(#aaa 0%,#eee 30%, #fff 50%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0; */
  background: url('images/bg_flower.png') no-repeat 50% 0, #aaa linear-gradient(#aaa 0%,#eee 50%, #fff 70%, #fff 100%);
  color: #181818;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 1.4rem;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 플로트 이슈를 해결하기 위한 클래스 */
.clearfix::after{
  content:'';
  clear: both;
  display: block;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color:#fff;
  position: relative;
  padding: 0 30px 40px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
  /* background-color: teal; */
  position: absolute;
  left: 65px;
  top: 48px;
}
/* 멤버 링크 */
.member{
  /* background-color: yellow; */
  /* overflow: hidden; */
  float: right;
  text-transform: uppercase;
  padding: 2px 0;
  position: relative;
  right: -10px;
}
.member li{
  /* background-color: pink; */
  float: left;
}
.member li:nth-child(n+2)::before{
  content: ':';
}
.member a{
  display : inline-block;
  /* background-color: aqua; */
  padding: 8px 10px;
}
/* 메인 메뉴 */
.navigation{
  /* background-color: lime; */
  clear: both;
}
.menu{
  background-color: #ed552f;
  background-image: linear-gradient(#ea782f,#ed552f,#ed552f,#ea782f);
  border-top: 2px solid #000;
  height: 47px;
  border-radius: 0 0 15px 15px;
  padding-left: 229px;
}
.menu-item{
  /* background-color:yellow; */
  border-left: 2px solid #fff;
  float:left;
  position: relative;
  padding: 0 20px;
}
.menu-item-text{
  /* background: green; */
  cursor: pointer;
  display: block;
  height: 47px;
  line-height: 45px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-item-text{
  color: #ff0;
  border-bottom: 2px solid black;
}
.sub-menu{
  position: absolute;
  top: 47px;
  white-space: nowrap;
  display: none;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 8px 0 8px 10px;
  margin-right: 10px;
}
.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello';
  width: 1em;
  margin-right: .5em;
}
.sub-menu a:hover::before{
  content: '\e800';
}
/* 비주얼 */
@keyframes bgAni{
  0%{
    opacity: 1;
  }
  /* 50%{
    opacity: 0;
  } -> animation-direction: alternate; 로 변경*/
  100%{
    opacity: 0;
  }
}
@keyframes textAni{
  0%{
    color: rgba(0,0,0,0);
    font-size: 12px;
    /* margin: 0; */
    /* padding: 0; */
    /* position: absolute;
    top:0;
    left:0; */
    transform: translate(0,0);
  }
  100%{
    color: rgba(0,0,0,1);
    font-size: 24px;
    /* margin: 75px 0 0 400px; */
    /* padding: 75px 0 0 400px; */
    /* position: absolute;
    top: 75px;
    left: 400px; */
    transform: translate(400px, 75px);
  }
}
.visual{
  /* background-color: orangered; */
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: '';
  /* background-color: orangered; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: bgAni 2000ms infinite alternate;
}
.visual::before{
  background: url('images/ani_flower_01.png') no-repeat 0 -10px,
  url('images/ani_flower_02.png') no-repeat 670px 0;
}
.visual::after{
  background: url('images/ani_flower_03.png') no-repeat 300px 0,
  url('images/ani_flower_04.png') no-repeat 800px 0;
  animation-delay: 1000ms;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards; */
  animation: textAni 3000ms forwards;
  display: inline-block;
  max-width: 540px;
}
/* 메인 콘텐츠 */
.main{
  background-color:#fff;
  border-radius: 15px 15px 0 0;
  min-height: 450px; 
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 그룹 */
/* .group{
  background-color: lightgreen;
} */
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  border-radius: 5px;
  background: #ed552f radial-gradient(circle at right top,#ea782f,#ed552f);
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 10px;
}
.login-heading{
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;
}
.login-form{
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  /* background-color: yellow; */
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
.login-form label{
  /* background-color:pink; */
  display: inline-block;
  width: 4em;
}
.login-form input{
  width: 90px;
  height: 22px;
  /* border: 1px solid #aaa; */
  padding: 1px 1px 1px 5px;
}
.user-pw {
  margin-top: 6px;
  /* background: lime; */
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed552f;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  background-color: #ea552f;
  font-size: 1.2rem;
}
.sign{
  background-color: #fff;
  padding: 7px 9px;
  border-radius: 0 0 5px 5px;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  letter-spacing: -1px;
}
.sign .icon-right-open::before{
  color: #ed552f;
  margin: 0;
}
/* 유효성 검사 배너 */
.validation-list{
  /* background-color: yellow; */
  margin-top: 25px;
}
/* .validation-list li{
  width: 250px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
  
} */
.validation-list a{
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  background: url('images/validation_icon.png') no-repeat 10px 50%,
  #ccc linear-gradient(#ccc, #eee);
  padding: 5px 15px 5px 35px;
  margin: 10px 0;
}
/* 웹관련 용어 */
/* .term {
  background-color: yellow;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}
.term-padding{
  background: pink;
}
.term-list{
  background: lime;
}
.term-list-subject{
  background: orange;
  width: 160px;
  float: right;
}
.term-list-thumbnail{
  background: red;
  float: left;
}
.term-list-brief{
  background: aqua;
} */
.term{
  margin-top: 20px;
  border:1px solid #aaa;
  border-radius: 5px;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 10px 15px;
}
.term-heading{
  /* background: pink; */
  font-size: 1.5rem;
  font-weight: 700;
}
.term-list{
  /* background: lime; */
  margin-top: 10px;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 150px;
}
.term-list-subject{
  /* background: orange; */
  color: #296897;
  margin-top: -4px;
}
.term-list-thumbnail{
  /* background: yellow; */
  float: left;
}
.term-list-brief{
  /* background: pink; */
  margin-top: 5px;
}
/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
}
.search-form *{
  /* background: yellow; */
  vertical-align: middle;
}
.search-form input{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 22px;
  width: 200px;
  padding: 1px 1px 1px 5px;
  margin: 0 2px;
}
.btn-search{
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #fff;
  background: #222;
  padding: 0 10px;
  height: 22px;
  font-size: 1.3rem;
}
/* 공지사항, 자료실 */
.board{
  /* background: yellow; */
  margin-top: 20px;
  position: relative;
}
.tab{
  /* background: lime; */
  position: absolute;
  top:0;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc,#eee);
  color: #666;
  padding: 5px 10px;
  cursor: pointer;
}
.tab1{
  left: 0;
}
.tab2{
  left: 73px;
}
.tab-act .tab{
  /* background: pink; */
  color: #ed552f;
  border-color: #ed552f #ed552f #fff #ed552f;
  background: #fff;
}
.board-list{
  padding-top: 45px;
}
.board-list li{
  position: relative;
  /* background: orange; */
  margin-bottom: 8px;
}
.board-subject{
  /* background: pink; */
  display: block;
  width: 295px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-date{
  /* background: aqua; */
  position: absolute;
  top:0;
  right: 0;
}
.board-more{
  position: absolute;
  top:0;
  right:0;
}
.board-more::before .news-more::before, .faverite-more::before{
  color: hsla(110, 70%, 30%, 1);
}
.board-list, .board-more{
  display: none;
}
.tab-act .board-list, .tab-act .board-more{
  display: block;
}
/* 새소식 */
.news{
  /* background: yellow; */
  margin-top: 20px;
  position: relative;
}
.news-more{
  position: absolute;
  top: 0;
  right: 0;
}
.news::before{
  content: '';
  position: absolute;
  top:35px;
  left: 0;
  width: 80%;
  height: 1px;
  background:#aaa linear-gradient(to right, #aaa, #eee);
 }
.news-heading{
  color: #ed552f;
  font-size: 1.5rem;
  font-weight: 700;
}
.news-item{
  /* background: pink; */
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}
.news-item-subject{
  font-weight: 700;
}

.news-item-brief{
  margin-top: 8px;
}
.news-item-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 15px 15px 0 #aaa;
}
.news-item-thumbnail{
  position: absolute;
  top: 4px;
  left:0;
  /* background: orange; */
  text-align: center;
}
/* 신규 이벤트 */
.event-related{
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 10px;
}
.event{
  position: relative;
}
.related{
  border-top: 1px solid #aaa;
  padding-top: 10px;
}
.event-heading, .related-heading, .faverite-heading{
  font-size: 1.5rem;
  font-weight: 700;
}
.point-color{
  color: #ed552f;
}
.event-thumbnail, .event-brief{
  margin: 10px 0;
}
.event-thumbnail{
  border: 1px solid #aaa;
  box-shadow: 5px 5px #aaa;
}
.btn-event{
  /* background: yellow; */
  height: 24px;
  overflow: hidden;
  position: absolute;
  top:0;
  right:0;
}
.btn-event-prev, .btn-event-next{
  float: left;
  width: 19px;
  height: 0;
  padding: 24px 0 0 0;
  margin-left: 5px;
  background: url('images/back_forward.png') no-repeat;
  border:0;
}
.btn-event-next{
  background-position: 100% 0;
}
.related-list{
  background: #fff;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  /* transition-property: height, padding, background;
  transition-duration: 2s, .5s, 1s;
  transition-delay: 0s, 2s, 2.5s;
  */
  transition: all .4s;
} 
.related-list:hover{
  height: 137px;
  padding: 5px 0;
  /* background: yellow; */
}
.related-list a{
  display: block;
  /* background: yellow; */
  /* height: 25px; */
  line-height: 25px;
  text-indent: 25px;
}
/* 인기 사이트 */
.faverite{
  position: relative;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(#ccc, #eee);
}
.faverite-list{
  /* background: yellow; */
  /* ol 숫자를 안보이게 */
  /* list-style-type: none; */
  /* 배경색 바깥부분을 안보이기 */
  overflow : hidden;
}
.faverite-list li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: lime; */
  margin-top: 8px;
  /* number는 변수임 */
  counter-increment: number;
  /* font-size: 1.8rem; */
}
.faverite-list li:before{
  content: counter(number);
  color: #fff;
  background: #999;
  padding: 0 6px;
  font-size: 1.2rem;
  border-radius: 2px;
  margin-right: 5px;
}
.up, .stop, .down{
  /* em 은 inline 형태임 */
  margin-left: auto;
  width: 9px;
  height: 11px;
  /* float를 주면 무조건 block됨 */
  /* float: right; */
  /* position: absolute;
  top: 50%;
  right: 0;*/
  background:  url('images/rank.png') no-repeat;
  padding-top: 11px;
  overflow: hidden;
  margin-top: -5px;
}
.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}

.faverite-list a{
  background: pink;
}
.faverite-list em{
  /* background: skyblue; */
}
.faverite-more{
  position: absolute;
  /* faverite의 padding 값만큼 */
  top: 10px;
  right: 10px;
}

/* 슬로건 */
.slogan{
  background-color: pink;
  height: 10vh;
}
/* 푸터 */
.footer-bg{
  background-color: purple;
}
/* 푸터 */
.footer{
  background-color: yellow;
  height: 10vh;
}